body {
    /* background-image: url('../images/space2.png');
    background-size: cover;
    background-repeat: no-repeat; */
    background: black;
}


#map-canvas {
    height: 900px;
    width: 100%;
    top: 0;
    border: 1px solid rgb(118, 146, 201);
  }

.w3-container {
    margin-bottom:10%; 
}